/* HomeNav.tsx */

.homenav {
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--theme-two);
    padding: 1rem 2rem;
}

.homenav_logo {
    justify-content: flex-start;
    margin: 0 1rem;
    height: 2.5rem;
}

.homenav_logotext {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.homenav_buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.homenav_btn {
    background-color: var(--theme-three);
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color: var(--theme-two);
    border-radius: 50px;
    text-decoration: none;
    padding: 8px 24px;
    border: 1px solid var(--theme-three);
}

.homenav_btn:hover {
    background-color: var(--theme-three);
    color: var(--theme-two);
    border: 1px solid var(--theme-three);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.hero_btn {
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    border-radius: 50px;
    background-color: var(--theme-two) !important;
    color: var(--theme-three) !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.hero_btn:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* Home.tsx */

.home {
    padding: 0;
    margin: 0;
    width: 100vw;
    display: block;
}

.home_top_row {
    background-color: var(--theme-three);
    height: 100vh;
    display: flex;
}

.home_top_row_left_col {
    font-size: 3rem;
    color: var(--theme-two);
    font-weight: 700;
    text-align: left;
    padding: 25vh 5vw;
    width: 60vw;
    line-height: 60px;
}

.home_top_row_left_col p {
    color: var(--theme-two);
}

.home_top_row_left_col_subheading {
    color: var(--theme-two) !important;
    font-size: 1.5rem;
}

.home_top_row_right_col {
    width: 40vw;
}

h3 {
    margin: 2rem 0;
    font-weight: 700;
}

.home_carousel {
    padding: 3vh 3vw;
    margin: 3vh 3vw;
    margin-top: 12vh !important;
    text-align: center;
    color: white;
}

.home_carousel_img {
    width: 15rem;
    height: auto;

}

.home_carousel_caption {
    position: static;
}

.home_second_row {
    display: flex;
    flex-direction: row;
    padding: 4.5rem;
    text-align: justify;
}

.home_second_row_header,
.home_third_row_header {
    font-size: 2rem;
    margin: 1.5rem 0;
    font-weight: 600;
}

.home_second_row_img {
    align-self: center;
    height: 15rem;
    margin-left: 4rem;
}

.home_third_row {
    display: flex;
    flex-direction: column;
    padding: 4.5rem;
    text-align: justify;
}

.home_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home_card {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin: 0.4rem;
    padding: 0.8rem;
    border-radius: 5px;
}

.home_card_img {
    width: 10rem;
    height: auto;
    margin: 1rem;
}

.home_card_caption {
    color: black;
    font-weight: 300;
    width: 20vw;
    text-align: left;
}

/* Footer.tsx */

.home_footer {
    background-color: #ffb6c1;
    padding: 5rem;
    padding-right: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.home_footer_heading {
    font-size: 1.5rem;
    font-weight: 800;
}

.home_footer_subheading {
    font-size: 1rem;
}