:root {
    --theme-two: #ffb6c1;
    --theme-one: white;
}

/* HomeNav.tsx */

.homenav {
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    /* border: 1px red solid; */
    justify-content: space-between;
    background-color: #ffb6c1;
    padding: 1rem 2rem;
}

.homenav_logo {
    justify-content: flex-start;
    margin: 0 1rem;
}

.homenav_logotext {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.homenav_btn {
    color: #ffb6c1;
    text-align: center;
    font-size: 1rem;
    background-color: white;
    border-radius: 7px;
    text-decoration: none;
    margin-left: 1rem;
}

/* Home.tsx */

.home {
    padding: 0;
    margin: 0;
    width: 100vw;
    display: block;
}

.home_top_row {
    background-color: #ffb6c1;
    height: 100vh;
    display: flex;
}

.home_top_row_left_col {
    font-size: 3rem;
    color: white;
    font-weight: 700;
    text-align: left;
    padding: 30vh 5vw;
    width: 60vw;
}

.home_top_row_left_col_subheading {
    font-size: 1.5rem;
}

.home_top_row_right_col {
    width: 40vw;
}

.home_carousel {
    padding: 3vh 3vw;
    margin: 3vh 3vw;
    margin-top: 10vh !important;
    text-align: center;
    color: white;
}

.home_carousel_img {
    width: 15rem;
    height: auto;

}

.home_carousel_caption {
    position: static;
}

.home_second_row {
    display: flex;
    flex-direction: row;
    padding: 4.5rem;
    text-align: justify;
}

.home_second_row_header,
.home_third_row_header {
    font-size: 2rem;
    margin: 1.5rem 0;
    font-weight: 600;
}

.home_second_row_img {
    align-self: center;
    height: 15rem;
    margin-left: 4rem;
}

.home_third_row {
    display: flex;
    flex-direction: column;
    padding: 4.5rem;
    text-align: justify;
}

.home_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home_card {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin: 0.4rem;
    padding: 0.8rem;
    border-radius: 5px;
}

.home_card_img {
    width: 10rem;
    height: auto;
    margin: 1rem;
}

.home_card_caption {
    color: black;
    font-weight: 300;
    width: 20vw;
    text-align: left;
}

/* Footer.tsx */

.home_footer {
    background-color: #ffb6c1;
    padding: 5rem;
    padding-right: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.home_footer_heading {
    font-size: 1.5rem;
    font-weight: 800;
}

.home_footer_subheading {
    font-size: 1rem;
}