:root {
    --theme-two: #ffb6c1;
    --theme-one: white;
}

.group_title {
    font-size: 2rem;
    font-weight: bold;
}

.group_heading_row {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.groups {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 420;
    border-bottom: 2px var(--theme-two) solid;
    padding: 1rem 2rem;
}

.table_head {
    border-top: 2px var(--theme-two) solid;
    font-weight: 800;
    background-color: var(--theme-two);
    color: var(--theme-one);
    border-radius: 10px;
}

.group_name {
    width: 10%;
}

.group_description {
    width: 50%;
}

.group_category {
    width: 8%;
}

button {
    text-decoration: none;
    border: none;
    border-radius: 10px;
    background-color: var(--theme-one);
}

.group_button {
    width: 8%;
}

.group_create_button {
    background-color: var(--theme-two);
    color: var(--theme-one);
    padding: 0.5rem 1rem;
    font-weight: 800;
    border: none;
}

/* CreateGroup.tsx */

.create_group_modal {
    padding: 4rem;
}