.profile_button {
    background-color: var(--theme-three);
    border: none;
    padding: 0 1rem !important;
    border-radius: 10px;
}

.profile_button:hover,
.profile_button:focus {
    background-color: var(--theme-four);
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 10px;
}

.profile_button_name {
    margin-top: 1rem;
}

.profile {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    text-decoration: none;
    align-items: center;
}

.profile_name {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--theme-one);
}

.profile_detail {
    font-size: 1rem;
    font-weight: 500;
}