.wrapper {
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    /* border: 1px red solid; */
    justify-content: space-between;
    background-color: #ffb6c1;
    padding: 1rem 2rem;
}

.logo {
    justify-content: flex-start;
    margin: 0 1rem;
}

.btn {
    color: #ffb6c1;
    text-align: center;
    font-size: 1rem;
    background-color: white;
    border-radius: 7px;
    text-decoration: none;
    margin-left: 1rem;
}

.wellnus-text {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.home-top-row {
    background-color: #ffb6c1;
    height: 100vh;
    display: flex;
}

.home-top-row-left-col {
    font-size: 3rem;
    color: white;
    font-weight: 700;
    text-align: left;
    padding: 30vh 5vw;
    /* border: 1px red solid; */
    width: 60vw;
}

.home-top-row-left-col-subheading {
    font-size: 1.5rem;
}

.home-top-row-right-col {
    width: 40vw;
}

.carousel-wrapper {
    margin: 10vh 0;
}

.carousel-img {
    width: 15rem;
    height: auto;

}

.section-wrapper {
    display: flex;
    flex-direction: row;
    padding: 4.5rem;
    text-align: justify;
}

.section-header {
    font-size: 2rem;
    margin: 1.5rem 0;
    font-weight: 600;
}

.section-image {
    align-self: center;
    height: 15rem;
    margin-left: 4rem;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.core-features-wrapper {
    display: flex;
    flex-direction: column;
    padding: 4.5rem;
    text-align: justify;
}

.core-features-card {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin: 0.4rem;
    padding: 0.8rem;
    border-radius: 5px;
}

.core-features-img {
    width: 10rem;
    height: auto;
    margin: 1rem;
}

.core-features-desc {
    color: black;
    font-weight: 300;
    width: 20vw;
    text-align: left;
}

h3 {
    text-align: center;
}

h4 {
    text-align: left;
}

.home-footer {
    background-color: #ffb6c1;
    padding: 5rem;
    padding-right: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.home-footer-heading {
    font-size: 1.5rem;
    font-weight: 800;
}

.home-footer-subheading {
    font-size: 1rem;
}