:root {
    --theme-two: #ffb6c1;
    --theme-one: white;
    --theme-three: #900C3F;
}

.group_title {
    font-size: 2rem;
    font-weight: bold;
}

.group_heading_row {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.group_heading_buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 0.5rem;
}

.groups {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 420;
    border-bottom: 2px var(--theme-two) solid;
    padding: 1rem 2rem;
    align-items: center;
}



.table_head {
    border-top: 2px var(--theme-two) solid;
    font-weight: 800;
    background-color: var(--theme-two);
    color: var(--theme-one);
    border-radius: 10px;
}

.group_name {
    width: 10%;
}

.group_description {
    width: 20%;
}

.group_category {
    width: 8%;
}

button {
    text-decoration: none;
    border: none;
    border-radius: 10px;
    background-color: var(--theme-one);
}

.group_button {
    width: fit-content;
}

.group_view_button {
    background-color: var(--theme-two);
    color: var(--theme-one);
    border: none;
}

.group_heading_button {
    background-color: var(--theme-two);
    color: var(--theme-one);
    padding: 0.5rem 1rem;
    font-weight: 800;
    border: none;
}

/* CreateGroup.tsx */

.create_group_modal {
    padding: 4rem;
}

/* Group.tsx */

.room-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.room-left-col,
.room-middle-col,
.room-right-col {
    height: 88vh;
}

.room-left-col {
    width: 20vw;
    padding: 0 2rem;
    padding-top: 1rem;
    background-color: var(--theme-one);
}

.room-middle-col {
    width: 60vw;
    background-color: var(--theme-one);
    /* border-left: 1px var(--theme-one) solid; */
    border-right: 1px var(--theme-one) solid;

}

.room-right-col {
    width: 20vw;
    padding-left: 2rem;
    padding-top: 10rem;
    background-color: var(--theme-one);
    border: 1px solid var(--theme-three);
    margin: 2rem;
    height: 40rem;
    border-radius: 10px;
}

.room-channels-wrapper {
    display: flex;
    flex-direction: column;
    color: var(--theme-one);
    font-weight: 800;
    gap: 1rem;
}

.room-channels-btn {
    border-radius: 10px;
    border: none;
    color: var(--theme-two);
    font-weight: 800;
}

.room-messages-wrapper {
    /* border: 1px red solid; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.room-message-wrapper {
    /* border: 1px blue solid; */
    display: flex;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 10rem;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    color: var(--theme-two);
    /* color: black; */
    background-color: var(--theme-one);
}

.room-message-profile {
    display: inline-block;
    align-self: center;
    margin-right: 2rem;
    font-size: 2rem;
}

.room-message-name {
    font-weight: 700;
}

.room-members-wrapper {
    display: flex;
    flex-direction: column;
    color: var(--theme-three);
    font-weight: 800;
    gap: 1rem;
    padding: 1rem;
}

.room-members-box {
    background-color: var(--theme-three);
    color: var(--theme-one);
    padding: 0.1rem;
    margin: 1rem 0;
    width: 10rem;
    border-radius: 5px;
    padding-left: 1rem;
}

/* GroupDetails.tsx */

.group_details {
    padding: 1rem;
    border-radius: 20px;
}

.group_details_name {
    color: var(--theme-three);
    font-size: 2rem;
    font-weight: 800;
}

.group_details_description {
    font-size: 1rem;
    font-weight: 500;
}

.group_details_box {
    background-color: var(--theme-three);
    color: var(--theme-one);
    font-weight: 600;
    margin: 1rem 0;
    width: fit-content;
    border-radius: 5px;
    padding: 0.2rem 1rem;
}

/* JoinGroup.tsx */

.join_group_main {
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
}

.join_group_left_column {
    width: 30vw;
    padding: 2rem;
}

.join_group_right_column {
    display: flex;
    flex-direction: column;
    width: 70vw;
    padding: 2rem;
}

.join_group_top_row {
    height: 100%;
    /* border: 1px red solid; */
}

.join_group_bottom_row {
    height: 0%;
    /* border: 1px black solid; */
}

.joingroup_button {
    margin-right: 1rem;
}

.joingroup_buttons {
    width: 20rem;
}