:root {
    --theme-two: #ffb6c1;
    --theme-one: white;
}

/* Dashboard.tsx */

.dashboard_title {
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.dashboard_boards {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
    border-radius: 10px;
    flex-grow: 1;
}

/* Board.tsx */

.board {
    background-color: var(--theme-two);
    padding: 1rem;
    border-radius: 10px;
    flex-grow: 1;
}

.board_title {
    font-weight: bold;
    font-size: 1rem;
    color: white;
}

.board_card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
}