.auth_container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.auth_left_col {
    width: 30%;   
    background-color: var(--theme-four); 
}

.auth_left_col .auth_logo_row {
    height: 70px;
    padding: 20px;
}

.auth_left_col .auth_content_row {
    height: calc(100% - 70px);
    padding: 8rem 3rem;
    text-align: center;
}

.auth_content_row .auth_btn {
    margin: 0 !important;
    margin-top: 2rem !important;
    color: var(--theme-two);
    background-color: var(--theme-four);
    border: 1px var(--theme-two) solid;
    border-radius: 50px;
    width: 70%;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 600;
}

.auth_content_row .auth_btn:hover {
    background-color: var(--theme-two);
    color: var(--theme-four);
}

.auth_right_col {
    width: 70%;
    padding: 5% 20%;
}

.auth_right_col h1 {
    color: var(--theme-four);
    margin: 2rem 0 5rem 0;
    text-align: center;
}

.auth_register .auth_right_col h1 {
    color: var(--theme-four);
    margin: 2rem 0 2rem 0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .login_btn {
    border: none !important;
    background-color: var(--theme-four);
    margin-top: 40px;
    height: 50px;
    width: 70%;
    color: var(--theme-two);
    border-radius: 50px;
    padding: 0.4rem;
    font-size: 1.2rem;
    font-weight: 600;
}

form .login_btn:hover,
form .login_btn:focus {
    background-color: var(--theme-three);
    color: var(--theme-two);
}

















/* original styles */

.background {
    background-color: var(--theme-four);
    height: 100vh;
    width: 100vw;
    border: 1px var(--theme-four) solid;
}

.flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    background-color: var(--theme-one);
    height: 80vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 30vw;
    padding: 3rem 0;
    border-radius: 10px;
}

.auth-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    margin-left: 2rem;
    color: var(--theme-two);
}

.auth-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.register-container {
    background-color: var(--theme-one);
    color: var(--theme-two);
    height: 90vh;
    width: 30vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 3rem 0;
    border-radius: 10px;
}

.register-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2rem;
}

.form-register {
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

.form-login {
    margin: 2rem;
}

.link-button {
    background-color: var(--theme-two);
    margin-top: 0.2rem;
    width: 100%;
    color: var(--theme-one);
    border-radius: 5px;
    padding: 0.4rem;
    
}

.link-button:hover,
.link-button:focus {
    background-color: var(--theme-three);
    color: var(--theme-two);
}

.no-decoration {
    text-decoration: none;
    color: black;
}

.logout_button {
    background-color: var(--theme-one);
    border: none;
    transform: translateY(-0.4rem);
}

.logout_button:hover,
.logout_button:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background-color: var(--theme-one);
}